$navbarBackground: #3B14AF;
$navbarBackgroundHighlight: lighten($navbarBackground, 20%);
$navbarLinkBackgroundHover: transparent;

$navbarText: black;
$navbarLinkColor: black;
$navbarLinkColorHover: white;

@import "bootstrap/bootstrap";

// Colour Scheme: http://colorschemedesigner.com/#4f31Tw0w0w0w0
$main-bg: #FDFF73; // pale yellow

html, body {
  height: 100%;
}

body {
  background-image:url("/img/graphy.png");
  background-repeat: repeat;
}

#main {
  background-color: $main-bg;
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

@mixin link-button($pic) {
  background-image:url($pic);
  background-repeat: no-repeat;
  padding-left: 32px;
  padding-top: 7px;
  padding-bottom: 7px;
}

// TODO: Extract from github into a subroutine? Whatever the hell it's called.
.github {
  @include link-button("/img/icons/github-32x32.png");
}

.email {
  @include link-button("/img/icons/email-32x32.png");
}

.googleplus {
  @include link-button("/img/icons/google+-32x32.png");
}

.twitter {
  @include link-button("/img/icons/twitter-32x32.png");
}

.linkedin {
  @include link-button("/img/icons/linkedin-32x32.png");
}
